extends layout

block content
  section
    h1 Días de la semana
    .uk-card.uk-card-default.uk-grid-collapse.uk-margin(class='uk-child-width-1-2@s', uk-grid='')
      .uk-card-media-right.uk-cover-container(class='uk-flex-last@s')
        img(src='/images/lunes.jpg', alt='', uk-cover='')
        canvas(width='600', height='400')
      div
        .uk-card-body
          h3.uk-card-title LUNES
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
    .uk-card.uk-card-default.uk-grid-collapse.uk-margin(class='uk-child-width-1-2@s', uk-grid='')
      .uk-card-media-right.uk-cover-container(class='uk-flex-last@s')
        img(src='/images/food2.jpg', alt='', uk-cover='')
        canvas(width='600', height='400')
      div
        .uk-card-body
          h3.uk-card-title MARTES
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
    .uk-card.uk-card-default.uk-grid-collapse.uk-margin(class='uk-child-width-1-2@s', uk-grid='')
      .uk-card-media-right.uk-cover-container(class='uk-flex-last@s')
        img(src='/images/food3.jpg', alt='', uk-cover='')
        canvas(width='600', height='400')
      div
        .uk-card-body
          h3.uk-card-title MIERCOLES
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
    .uk-card.uk-card-default.uk-grid-collapse.uk-margin(class='uk-child-width-1-2@s', uk-grid='')
      .uk-card-media-right.uk-cover-container(class='uk-flex-last@s')
        img(src='/images/food4.jpg', alt='', uk-cover='')
        canvas(width='600', height='400')
      div
        .uk-card-body
          h3.uk-card-title JUEVES
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
    .uk-card.uk-card-default.uk-grid-collapse.uk-margin(class='uk-child-width-1-2@s', uk-grid='')
      .uk-card-media-right.uk-cover-container(class='uk-flex-last@s')
        img(src='/images/food5.jpg', alt='', uk-cover='')
        canvas(width='600', height='400')
      div
        .uk-card-body
          h3.uk-card-title  VIERNES
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
    .uk-card.uk-card-default.uk-grid-collapse.uk-margin(class='uk-child-width-1-2@s', uk-grid='')
      .uk-card-media-right.uk-cover-container(class='uk-flex-last@s')
        img(src='/images/food6.jpg', alt='', uk-cover='')
        canvas(width='600', height='400')
      div
        .uk-card-body
          h3.uk-card-title  SÁBADO
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.


