extends layout

block content
  main
    .uk-cover-container.uk-height-large
      img(src='/images/back.png', alt='', uk-cover='')

  section.uk-section
    .uk-container
      .uk-grid.uk-grid.uk-child-width-1-3
        div.uk-card.uk-card-default.uk-card-body.uk-text-center
          span(uk-icon="ratio:2; icon:star")
          p
            | Lorem ipsum 
            a(href='#') dolor
            |  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        div.uk-card.uk-card-default.uk-card-body.uk-text-center
          span(uk-icon="ratio:2; icon:happy")
          p
            | Lorem ipsum 
            a(href='#') dolor
            |  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        div.uk-card.uk-card-default.uk-card-body.uk-text-center
          span(uk-icon="ratio:2; icon:heart")
          p
            | Lorem ipsum 
            a(href='#') dolor
            |  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.