<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title=title
    script(src='https://api.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.js')
    script(src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v3.1.3/mapbox-gl-directions.js')
    link(rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v3.1.3/mapbox-gl-directions.css' type='text/css')
    link(href='https://api.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.css' rel='stylesheet')
    script(src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.6/mapbox-gl-geocoder.min.js')
    link(rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.6/mapbox-gl-geocoder.css' type='text/css')
    <!-- UIkit CSS -->
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/css/uikit.min.css")
    link(rel="stylesheet" href="/stylesheets/style.css")
    <!-- Datatables CSS -->
    link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css')

  body

    nav.uk-navbar-container(uk-navbar='')
      .uk-navbar-left
        ul.uk-navbar-nav
          li.uk-active
            a(href='/profile') 
              img(class="logo" src='/images/alicia_logo.svg', alt='')
          li.uk-active
            a(href='/menus') Menus
          li.uk-active
            a(href='/foods') Comidas
          
      .uk-navbar-right
        ul.uk-navbar-nav
          if user
            li
              a(href='#')=user.username
              .uk-navbar-dropdown
                ul.uk-nav.uk-navbar-dropdown-nav
                  li.uk-active
                    a(href='/profile') Perfil
                  li
                    a(href='/logout') Salir
          else
            li.uk-active
              a(href='/login') Entrar
            li
              a(href='/signup') Registro
  

    block content

    <!-- UIkit JS -->
    script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit-icons.min.js")
    <!-- Datatables JS -->
    script(src='https://code.jquery.com/jquery-3.4.1.min.js', integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=', crossorigin='anonymous')
    script(src='//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js')
    //- script(src="/javascripts/socket.io.js")
    script(src="/javascripts/script.js")
    //- script(src="/javascripts/validations.js")
