extends layout

block content
  section.uk-container.uk-margin-large-top
    h1 Menus

    a.uk-margin-bottom(href="/menus/form") Crear Menu

    //- table(style='width:100%')
    table#myTable.uk-table.uk-table-striped.table.uk-table-hover 
      thead
        tr
          th Nombre
          th Ranking
          th Acciones
      tbody
        each menu in menus
          tr
            td=menu.name
            td=menu.ranking
            td
              a(href=`/foods/form/${menu._id}`) Crear comida / 
              a(href="/") Editar / 
              a(href=`/menus/delete/${menu._id}`) Eliminar