extends layout

block content
  section.uk-section
    .uk-container.uk-flex.uk-flex-center.logs
      .uk-width-1-2.uk-flex.uk-flex-center
        form(action="/objectives", method="post")
          //- Gender
          .uk-margin
          label(class='uk-form-label' for='gender') Gender
          .uk-inline
            select(name='gender')
              option(value='man') Hombre
              option(value='woman') Mujer
          //- weight
          .uk-margin
          label(class='uk-form-label' for='weight') Peso
          .uk-inline
            span.uk-form-icon(uk-icon='icon: shrink')
            input.uk-input(type='text' name='weight' id='weight')
          //- height
          .uk-margin
          label(class='uk-form-label' for='height') Altura
          .uk-inline
            span.uk-form-icon(uk-icon='icon: expand')
            input.uk-input(type='text' name='height' id='height')
          //- exercise
          .uk-margin
          label(class='uk-form-label' for='exercise') Ejercicio
          .uk-inline
            select(name='exercise')
              //- option(value='man') Hombre
              option(value='Si') Si
              option(value='No') No
          //- objectivesF
          .uk-margin
          label(class='uk-form-label' for='objectivesF') Objetivos
          .uk-inline
            select(name='objectivesF')
              option(value='muscle') Adelgazar
              option(value='slim') Ganar Musculatura
          if errorMessage
            .uk-alert-danger.uk-width-1-1(uk-alert)
              p #{errorMessage}
          button.uk-button.uk-button-primary.uk-margin-top Register objectives
          
