mixin menu(days)
  h1 {Days}
  section
    div(class='uk-child-width-1-2@m', uk-grid='')
      div
        .uk-card.uk-card-default
          .uk-card-media-top
           img(src='images/light.jpg', alt='')
        .uk-card-body
          h1=days.name 
          h3.uk-card-title=days.schedule
          ul
            each ingredient in days.Ingredientes
              li=ingredient
    